:root {
    --color-text-primary:                   #111111;
    --color-text-secondary:                 #777777;
    --color-text-terciary:                  #999999;
    --color-text-quartenary:                #444444;
    --black:                                #000000;
    --black-overlay:                        rgba(0,0,0, .85);
    --white:                                #FFFFFF;
    --color-background-banner:              #FBDFDB;
    --color-background-footer:              #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, body, button, select, input {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 { 
    color: var(--color-text-primary);
}

button {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

img {
    max-width: 100%;
    height: auto;
}

.h1 {
    font-size: 32px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding-bottom: 50px;
}

.section .h2,
.section .h1 {
    margin-bottom: 20px;
}

.section .p {
    margin-bottom: 32px;
    color: var(--color-text-quartenary);
}

.section__footer {
    text-align: center;
    padding: 32px 0;
}

.section__footer .section__link {
    text-decoration: none;
    background-color: var(--color-background-banner);
    padding: 1rem 1.5rem;
    color: var(--color-text-quartenary);
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    transition: ease .3s opacity;
}

.section__footer .section__link:hover {
    opacity: 0.5;
}

.section-about .h1 {
    font-size: 24px;
}

.section-about .h2 {
    font-size: 20px;
}

/* Navigation */
.header .wrapper {
    display: flex;
    align-items: center;
    padding-top: 36px;
    margin-bottom: 30px;
}

.navigation .menu {
    display: flex;
    margin-left: 122.4px;
}

.navigation .menu li {
    margin-left: 30px;
}

.navigation .menu li:first-child {
    margin-left: 0;
}

.navigation .menu li a {
    color: var(--color-text-primary);
    text-decoration: none;
}

.navigation .menu:hover > li {
    opacity: 0.5;
}
.navigation .menu > li:hover {
    opacity: 1;
}

/* Hero */
.section-hero {
    padding-bottom: 50px;
}
.hero {
    background-color: var(--color-background-banner);
    border-radius: 30px;
    height: auto;
    min-height: 366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero__info {
    max-width: 316px;
    margin-left: 60px;
}

.hero .hero__img {
    align-self: flex-end;
    margin-right: 100px;
}

.hero .h1 {
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

/* Recipes */

.list-recipes {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
}

.list-recipes li {
    cursor: pointer;
}

.list-recipes li .list-recipes__crop {
    overflow: hidden;
    border-radius: 15px;
    max-width: 300px;
    height: 140px;
}

.list-recipes li .list-recipes__image {
    width: 100%;
}

.list-recipes li .list-recipes__title {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
}

.list-recipes li .list-recipes__text {
    font-size: 14px;
    color: var(--color-text-secondary);
}

.footer {
    background-color: var(--color-background-footer);
    padding: 23px 0;
}

.footer .p {
    font-size: 14px;
    text-align: center;
    color: var(--color-text-terciary);
}

/* Modal */
.modal {
    width: 100vw;
    height: 100vh;
    background-color: var(--black-overlay);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.modal .modal-box {
    background-color: var(--white);
    width: 100%;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}

.modal .modal-box__wrapper {
    height: 200px;
    width: 600px;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--color-text-terciary);
}

.modal .modal-box__image {
    width: 100%;
}

.modal .modal-box__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
}

.modal .modal-box__text {
    color: var(--color-text-secondary);
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
}

.modal .modal-box__close {
    background-color: transparent;
    border: none;
    color: var(--color-text-terciary);
    margin-top: 60px;
    cursor: pointer;
}

.modal.maximize {
    visibility: visible;
    opacity: 1;
}